.header {
  display: flex;
  height: 8.7rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem;
  border-bottom: 1px solid #e1e3e4;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header h1 {
  font-size: 3.2rem;
  font-weight: 900;
  cursor: pointer;
  color: var(--color-mint);
}

.logo {
  margin-right: 10rem;
}

.navbar ul {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.link {
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 5rem;
  cursor: pointer;
}

.navbar ul li:hover {
  color: var(--color-mint);
  transition: 140ms all ease-in-out;
}

.right {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_input {
  width: 25rem;
  height: 4rem;
  padding: 0 4rem 0 0.8rem;
  font-size: 1.6rem;
  outline: none;
  transform: translateX(18%);
  border-radius: 12px;
  border: 1px solid lightgray;
  animation: 400ms appear;
}

.header_icon {
  font-size: 2.2rem;
  margin: 0 2.2rem;
  cursor: pointer;
}

.search_icon {
  margin-left: 1.2rem;
  z-index: 1;
}

.user_container {
  position: relative;
}

.objection_container {
  position: relative;
}

.badge_container {
  position: absolute;
  top: -1.4rem;
  right: 0.2rem;
}

@keyframes appear {
  0% {
    width: 0px;
  }

  100% {
    width: 25rem;
  }
}
