.header {
  width: 100%;
  height: 8.7rem;
  /* border-bottom: 1px solid #e1e3e4; */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
}

.header_body {
  width: 100rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h1 {
  font-size: 3.2rem;
  font-weight: 900;
  cursor: pointer;
  color: var(--color-blue);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 6rem;
}

.logo_icon {
  font-size: 2.6rem;
  color: var(--color-blue);
  margin-right: 0.7rem;
}

.navbar ul {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.link {
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 5rem;
  cursor: pointer;
}

.navbar ul li a:hover {
  color: var(--color-blue);
  transition: 200ms all ease-in-out;
}

.right {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.8875rem;
}

.search_input {
  border: none;
}

.search_input_on {
  width: 30rem;
  height: 4rem;
  padding: 0 4rem 0 0.8rem;
  font-size: 1.6rem;
  outline: none;
  transform: translateX(13%);
  transition: 200ms all ease-in-out;
  box-shadow: 1px 1px 3px lightgray;
  border: 0.1rem solid rgb(235, 235, 235);
  border-radius: 8px;
}

.search_input_off {
  width: 0;
  height: 4rem;
  transition: 200ms all ease-in-out;
}

.search_icon_container {
  z-index: 1;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_icon_container_on {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-blue);
  transition: 200ms width ease-in-out;
}

.search_icon_container_off {
  width: 0px;
  height: 0px;
  margin-right: 2.2rem;
}

.header_icon {
  font-size: 2.2rem;
  margin: 0 2.2rem;
  cursor: pointer;
}

.header_icon:hover {
  color: var(--color-blue);
  transition: 200ms all ease-in-out;
}

.close_icon {
  margin: 0;
  color: white;
}

.search_icon {
  margin: 0;
}

.user_container {
  position: relative;
}

.objection_container {
  position: relative;
}

.badge_container {
  position: absolute;
  top: -1.4rem;
  right: 0.2rem;
}

.toggle_button {
  visibility: collapse;
}

@media screen and (max-width: 1000px) {
  .header {
    height: auto;
    padding: 2rem 3rem;
  }
  .toggle_button {
    visibility: visible;
    font-size: 2.4rem;
    color: #2f3438;
    position: absolute;
    top: 2.7rem;
    right: 3rem;
    cursor: pointer;
  }

  .header_main {
    display: none;
  }
  .header h1 {
    font-size: 2.8rem;
  }

  .logo {
    margin-right: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 2rem 2.6rem;
  }
  .header h1 {
    font-size: 2.4rem;
  }

  .logo_icon {
    font-size: 2rem;
  }

  .toggle_button {
    top: 2rem;
    right: 2.3rem;
  }
}
