.sidebar {
  width: 26rem;
  min-height: calc(100vh - 87px);
  border-right: 1px solid lightgray;
}

.user_data_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

.user_image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.name_and_welcome {
  margin-left: 1.6rem;
}

.welcome {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
}

.name {
  font-size: 2rem;
  font-weight: 700;
}

.menu_title_box {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1rem 3rem;
  background-color: var(--color-blue);
}

.menu {
  padding: 0 2rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  margin: 1.1rem 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.button:hover {
  background-color: rgba(255, 202, 200, 0.2);
}

.button:hover span {
  color: var(--color-red);
}

.button span {
  font-weight: 500;
  margin-left: 1rem;
  transition: 200ms all ease-in-out;
}

.icon_green {
  color: var(--color-green);
}

.icon_blue {
  color: var(--color-blue);
}

.icon_pink {
  color: var(--color-pink);
}

.icon_red {
  color: var(--color-red);
}

.icon_mint {
  color: var(--color-mint);
}

.icon_yellow {
  color: var(--color-yellow);
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
