.manage_container {
  width: 100%;
  height: 100%;
  padding: 6rem 0;
}

.manager {
  width: 90%;
  height: 100%;
  max-width: 120rem;
  margin: auto;
  border: 1px solid lightgray;
}

.top {
  width: 100%;
  height: 5rem;
  background-color: var(--color-blue);
}

.top h2 {
  line-height: 5.1rem;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.content_box {
  height: calc(100% - 5rem);
  overflow-y: scroll;
}

.add_button {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  text-align: start;
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 120ms all ease-in-out;
}

.plus_icon {
  margin-right: 1rem;
  font-size: 2rem;
}

.add_button:hover {
  background-color: rgb(247, 247, 247);
}

@media screen and (max-width: 500px) {
  .manage_container {
    padding: 0;
    padding-bottom: 8rem;
  }

  .manager {
    width: 100%;
  }

  .add_button {
    font-size: 1.6rem;
  }

  .plus_icon {
    font-size: 1.6rem;
  }
}
