.user_box {
  position: absolute;
  top: 4rem;
  transform: translateX(-80%);
  width: 30rem;
  background-color: white;
  box-shadow: 0 0 8px lightgray;
  animation: 200ms appear;
  border-radius: 8px;
  z-index: 1;
}

/* https://devbirdfeet.tistory.com/152 */
.user_box::after {
  border-color: white transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: "";
  display: block;
  left: 267px;
  position: absolute;
  top: -7px;
  width: 0;
  z-index: 1;
}

.user_box::before {
  border-color: white transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: "";
  display: block;
  left: 267px;
  position: absolute;
  top: -8px;
  width: 0;
  z-index: 0;
}

.user_box_top {
  width: 100%;
  /* background-color: var(--color-blue); */
  padding: 1.6rem 2rem 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.user_data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
}

.user_image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.name_and_welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
}

.welcome {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: #687074;
}

.user_name {
  font-size: 1.8rem;
  font-weight: 700;
}

.login_button_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button_container button,
.button_container a {
  flex-basis: 50%;
}

.login_container {
  padding: 2rem 2rem 3rem 2rem;
}

@keyframes appear {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0) translateX(-80%);
  }
  to {
    -webkit-opacity: 1;
    -webkit-transform: translateZ(0) translateX(-80%);
  }
}
