.user_box {
  position: absolute;
  top: 4rem;
  transform: translateX(-80%);
  width: 22rem;
  /* height: 25rem; */
  background-color: white;
  box-shadow: 0 0 6px lightgray;
  animation: 200ms appear;
  z-index: 1;
}

/* https://devbirdfeet.tistory.com/152 */
.user_box::after {
  border-color: var(--color-mint) transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: "";
  display: block;
  left: 203px;
  position: absolute;
  top: -7px;
  width: 0;
  z-index: 1;
}

.user_box::before {
  border-color: var(--color-mint) transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: "";
  display: block;
  left: 203px;
  position: absolute;
  top: -8px;
  width: 0;
  z-index: 0;
}

.user_box_top {
  width: 100%;
  background-color: var(--color-mint);
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.user_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.user_image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.user_name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1rem;
}

.login_button_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_container button {
  width: 22rem;
}

.login_container {
  padding-bottom: 2rem;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0) translateX(-80%);
  }
  to {
    opacity: 1;
    transform: translateZ(0) translateX(-80%);
  }
}
