.objection_item {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.objection_item p {
  font-size: 1.6rem;
}

.title {
  width: 20%;
  padding-right: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  width: 60%;
  padding-right: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  width: 20%;
}
