.intro_card {
  width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem auto;
  padding: 5rem;
  background-color: rgba(184, 232, 252, 0.1);
  /* box-shadow: 3px 3px 5px lightgray; */
  border-radius: 16px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.children_container * {
  width: 41rem !important;
}

.intro_card img {
  width: 41rem;
  height: 30rem;
  border-radius: 10px;
  box-shadow: 0 0 4px lightgray;
}

.intro_article {
  width: 44rem;
  padding: 1rem 0;
}

.intro_article h3 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.intro_article p {
  font-size: 1.8rem;
  white-space: pre-line;
  word-break: keep-all;
}

.off {
  visibility: hidden;
}

.on {
  visibility: visible;
  animation: 1000ms appear;
}

.article_mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .intro_card {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 8rem auto;
  }

  .intro_article {
    width: 100%;
    margin-top: 3rem;
  }

  .intro_card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 4px lightgray;
  }

  .intro_article {
    width: 100%;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 500px) {
  .intro_card {
    margin: 5rem auto;
  }
  .intro_article {
    margin-top: 2rem;
  }

  .intro_article h3 {
    font-size: 2.4rem;
  }

  .intro_article p {
    font-size: 1.5rem;
    white-space: pre-line;
    word-break: keep-all;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
