.problem {
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 1.2rem 3rem 1.2rem 5rem;
  cursor: pointer;
  transition: 120ms all ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.q {
  font-size: 1.8rem;
  color: var(--color-blue);
  margin-right: 1rem;
}

.problem:hover {
  background-color: rgb(247, 247, 247);
}

.update_and_delete_button {
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
}

.update_icon {
  margin: 0 1rem;
  transition: 120ms all ease-in-out;
}

.delete_icon {
  transition: 120ms all ease-in-out;
}

.update_icon:hover {
  color: var(--color-blue);
}

.delete_icon:hover {
  color: var(--color-red);
}

@media screen and (max-width: 500px) {
  .problem {
    padding: 1.2rem 1.5rem 1.2rem 4rem;
  }

  .question {
    font-size: 1.6rem;
  }

  .q {
    font-size: 1.6rem;
    margin-right: 0.6rem;
  }
}
