.problem {
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 1.2rem 3rem 1.2rem 5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 120ms all ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.q {
  color: var(--color-mint);
  margin-right: 1rem;
}

.problem:hover {
  background-color: rgb(247, 247, 247);
}

.update_and_delete_button {
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
}

.update_icon {
  margin: 0 1rem;
  transition: 120ms all ease-in-out;
}

.delete_icon {
  transition: 120ms all ease-in-out;
}

.update_icon:hover {
  color: var(--color-blue);
}

.delete_icon:hover {
  color: var(--color-red);
}
