.objection_page {
  width: 100%;
  height: 100%;
  padding: 5rem;
}

.objection_page h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.list_container {
  width: 100%;
  height: calc(100% - 3rem);
  border: 0.1rem solid rgb(235, 235, 235);
  /* box-shadow: 0 0 15px lightgray; */
}

.mobile_top {
  display: none;
}

.list_top {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: var(--color-blue);
}

.list_top p {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}

.title {
  width: 20%;
  padding-right: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  width: 60%;
  padding-right: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  width: 20%;
}

.objection_list {
  height: calc(100% - 4rem);
  overflow-y: scroll;
  /* border: 1px solid lightgray; */
}

.objection_item p {
  font-size: 1.6rem;
}

@media screen and (max-width: 700px) {
  .objection_page {
    padding: 3rem 1.5rem;
  }

  .title,
  .content,
  .date {
    display: none;
  }

  .mobile_top {
    display: block;
  }

  .list_top p {
    font-size: 1.8rem;
  }

  .objection_page h2 {
    font-size: 2.2rem;
  }
}
