:root {
  /* color */
  --color-mint: #7fe9de;
  /* --color-mint: rgb(149, 207, 221); */
  --color-green: #b3ffae;
  --color-blue: #b8e8fc;
  --color-pink: #ffcac8;
  --color-red: #ff6464;
  --color-yellow: yellow; /*임시*/
}
