/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); */
@import url("./constant.css");

html {
  font-size: 62.5%;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
button {
  color: #2f3438;
}

a {
  text-decoration: none;
}

p {
  word-break: break-all;
  white-space: normal;
}
