.top_banner_background {
  width: 100%;
  height: calc(100vh - 8.7rem);
  /* aspect-ratio: auto 1.779/1; */
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top_banner {
  background-image: url("/images/top_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.top_banner_title {
  font-size: 5rem;
  font-weight: 900;
  color: white;
  margin: 2rem 0 4rem 0;
  animation: 2000ms appearFromLeft;
  animation-delay: 500ms;
  animation-fill-mode: both;
}

.top_banner_subtitle {
  font-size: 2.6rem;
  font-weight: 700;
  color: white;
  animation: 2000ms appearFromLeft;
  animation-fill-mode: both;
}

.top_banner_button {
  padding: 1.1rem 5.6rem;
  /* background-color: transparent;
  outline: 3px solid white; */
  background-color: var(--color-blue);
  outline: none;
  border: none;
  color: white;
  font-size: 2.7rem;
  font-weight: 700;
  border-radius: 32px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
  animation: 2000ms appearFromTop;
  animation-delay: 1000ms;
  animation-fill-mode: both;
}

.top_banner_button:hover {
  transform: scale(1.1);
}

.intro_section {
  padding: 6rem 0;
}

.intro_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10rem;
}

.intro_card {
  width: 100rem;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 20rem;
}

.intro_card img {
  width: 50rem;
  height: 30rem;
  border-radius: 10px;
}

.intro_article {
  width: 47rem;
  padding: 1rem 0;
}

.intro_article h3 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.intro_article p {
  font-size: 1.8rem;
  white-space: pre-line;
  word-break: keep-all;
}

@media screen and (max-width: 1000px) {
  .top_banner_background {
    height: calc(100vh - 7.5rem);
  }
  .intro_section {
    padding: 4rem 1.5rem;
  }
  .intro_title {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .intro_card {
    width: 100%;
    height: auto;
    margin: 12rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .intro_article {
    width: 100%;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .top_banner_title {
    padding: 0 1.5rem;
    margin: 2rem 0 3rem 0;
    font-size: 3.5rem;
  }

  .top_banner_subtitle {
    padding: 0 1.5rem;
    font-size: 2.4rem;
  }

  .intro_card {
    margin-top: 0;
  }

  .intro_title {
    font-size: 5vw;
  }
}

@media screen and (max-width: 500px) {
  .top_banner_title {
    padding: 0 1.5rem;
    margin: 2rem 0 3rem 0;
    font-size: 7vw;
  }

  .top_banner_subtitle {
    padding: 0 1.5rem;
    font-size: 5.5vw;
  }

  .top_banner_button {
    font-size: 5vw;
    padding: 1rem 4.4rem;
  }
  .intro_card {
    margin-bottom: 8rem;
  }
  .intro_title {
    font-size: 6vw;
    margin-bottom: 4rem;
  }

  .intro_article {
    margin-top: 2rem;
  }

  .intro_article h3 {
    font-size: 2.4rem;
  }

  .intro_article p {
    font-size: 1.5rem;
    white-space: pre-line;
    word-break: keep-all;
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
