.main {
  width: 100rem;
  min-height: 100vh;
  margin: auto;
  padding: 6rem 0;
}

.main h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-left: 1rem;
}

.description {
  font-size: 1.9rem;
  margin: 1rem 0 0 1rem;
  font-weight: 500;
  color: #687074;
}

.folder_card_section {
  display: flex;
  flex-direction: column;
}

.card_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card_list li {
  width: 23rem;
  height: 22rem;
  margin: 1rem;
}

.message_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.message {
  font-size: 2.8rem;
  font-weight: 500;
}

.message_button {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.7rem 5rem;
  border: none;
  background-color: var(--color-blue);
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.page_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  font-size: 1.8rem;
}

.page_box ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page_box ul li {
  margin: 0 1.4rem;
  cursor: pointer;
}

.arrow_prev {
  margin-right: 3rem;
  cursor: pointer;
}

.arrow_next {
  margin-left: 3rem;
  cursor: pointer;
}

.page_selected {
  color: var(--color-blue);
  font-weight: 900;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 90%;
    margin: auto;
  }
  .card_list li {
    flex-basis: 32%;
    margin: 0.6%;
  }
}

@media screen and (max-width: 768px) {
  .card_list li {
    flex-basis: 48%;
    margin: 1%;
  }

  .message {
    font-size: 2.2rem;
    white-space: nowrap;
  }

  .message_button {
    font-size: 1.6rem;
    padding: 0.7rem 3rem;
  }
}

@media screen and (max-width: 500px) {
  .main {
    width: 100%;
    padding: 3rem 1.5rem;
  }

  .main h2 {
    font-size: 2.2rem;
    margin-left: 0.8rem;
  }

  .description {
    font-size: 1.5rem;
    margin-left: 0.8rem;
    margin-top: 0.6rem;
    color: #687074;
  }

  .card_list {
    margin-top: 1.4rem;
  }

  .card_list li {
    height: auto;
    flex-basis: 48%;
    max-width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 380px) {
  .card_list li {
    height: auto;
    flex-basis: 100%;
    margin: 1rem 0;
  }
}
