.study {
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}
.author {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 1.4rem 0 2.5rem 0;
}

.problem_number_count {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}

.problem_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow_left {
  font-size: 5rem;
  margin-right: 3rem;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.arrow_right {
  font-size: 5rem;
  margin-left: 3rem;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.arrow_left:hover,
.arrow_right:hover {
  color: var(--color-blue);
}

.mobile_arrow_container {
  display: none;
}

.button_container {
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  box-shadow: 0 0 4px lightgray;
  border-radius: 16px;
  padding: 1rem 7rem;
}

.study_button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.study_button:hover {
  transform: scale(1.08);
}

.heart {
  color: var(--color-yellow);
}

.comment {
  color: var(--color-green);
}

.report {
  color: var(--color-blue);
}

@media screen and (max-width: 700px) {
  .study {
    padding: 2.6rem 1rem;
  }

  .study_title {
    font-size: 2.2rem;
  }
  .author {
    font-size: 1.5rem;
    margin: 1.2rem 0 2.2rem 0;
  }

  .problem_number_count {
    font-size: 1.7rem;
    letter-spacing: 0.7rem;
    margin-bottom: 1.6rem;
  }

  .problem_container {
    flex-direction: column;
  }

  .arrow_left,
  .arrow_right {
    display: none;
  }

  .mobile_arrow_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width: 92vw;
    border: none;
    border-radius: 8px;
  }

  .mobile_arrow_left,
  .mobile_arrow_right {
    width: 49.5%;
    height: 3.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 3px lightgray;
    background-color: #fff6bd;
    cursor: pointer;
    transition: 200ms all ease-in-out;
  }

  .mobile_arrow_left:hover,
  .mobile_arrow_right:hover {
    box-shadow: 3px 3px 5px lightgray;
  }

  .card_section {
    width: 100%;
  }

  .button_container {
    width: 92vw;
    padding: 1rem 4rem;
  }

  .study_button {
    font-size: 1.6rem;
  }
}
